@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@use "sass:math";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  min-width: 320px;
}

a,
a:active,
a:visited {
  all: unset;
}

input[type=text],
button {
  all: unset;
}

@use "sass:math";
.wrapper {
  margin: 0 auto;
  padding: 5rem 0.625rem;
}

@use "sass:math";
.main {
  position: relative;
  overflow: hidden;
}

.main::before {
  position: absolute;
  content: "";
  z-index: -2;
  border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
  background-image: linear-gradient(45deg, #8838ff, #e942ff);
  width: 500px;
  height: 50%;
  top: 0;
  left: calc(-300px);
}

@media (min-width: 40em) {
  .main::before {
    left: -10%;
  }
}

.main::after {
  position: absolute;
  content: "";
  z-index: -2;
  border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
  background-color: #c6cacd;
  width: 500px;
  height: 50%;
  bottom: 0;
  right: calc(-300px);
}

@media (min-width: 40em) {
  .main::after {
    right: -10%;
  }
}

.phone__top-panel {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1.875rem 1.25rem 0.9375rem 1.25rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: center;
  -ms-grid-columns: auto auto auto 1fr auto;
      grid-template-columns: auto auto auto 1fr auto;
  grid-gap: 5px;
}

.phone__top-panel::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 1.875rem;
  border-radius: 50px;
  background-color: white;
  top: -15%;
  left: 20%;
}

.phone__top-panel__left-arrow__holder {
  width: 10px;
}

.phone__top-panel__left-arrow__holder__arrow {
  -webkit-clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  background: white;
  width: 15px;
  height: 15px;
}

.phone__top-panel__profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__top-panel__profile-image__image {
  border-radius: 50%;
  border: 2px solid #d89eff;
  width: 45px;
}

.phone__top-panel__name-and-availability__name {
  color: white;
}

.phone__top-panel__name-and-availability__availability {
  font-size: 0.8rem;
  color: #d89eff;
}

.phone__top-panel__three-point-btn {
  justify-self: flex-end;
  width: 20px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.phone__top-panel__three-point-btn__point {
  border-radius: 50%;
  background-color: white;
  width: 5px;
  height: 5px;
}

.phone__chat-section {
  margin-top: 1.25rem;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.phone__chat-section__left__text {
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  margin-left: 0.625rem;
  padding: 0.625rem;
  background-color: #c6cacd;
  color: #9241c8;
  max-width: 60%;
}

.phone__chat-section__left__price {
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  margin-left: 0.625rem;
  padding: 0.625rem;
  max-width: 75%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to right, #e942ff, #8838ff);
}

.phone__chat-section__left__price__ring {
  opacity: 0;
  position: absolute;
}

.phone__chat-section__left__price__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__chat-section__left__price__label__text {
  color: #d89eff;
  font-size: 1rem;
}

.phone__chat-section__left__price__label__cash {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.phone__chat-section__left__price__label:hover {
  cursor: pointer;
}

.phone__chat-section__left__price__label::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #e570ff;
  width: 20px;
  height: 20px;
  margin-left: 5%;
}

.phone__chat-section__left__price__ring:checked ~ .phone__chat-section__left__price__label::before {
  background-color: #e570ff;
}

.phone__chat-section__right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.phone__chat-section__right__text {
  border-radius: 15px;
  border-bottom-right-radius: 5px;
  margin-right: 0.625rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.625rem;
  padding-left: 1.25rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  max-width: 60%;
}

.phone__chat-section__right__image-holder {
  margin-right: 0.625rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.625rem;
}

.phone__chat-section__right__image-holder__image {
  display: block;
  border-radius: 20px;
  width: 4.375rem;
  height: 4.375rem;
}

.phone__text-form {
  background-color: white;
  border-radius: 100px;
  margin: 1.25rem auto;
  padding: 0.625rem;
  width: 85%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phone__text-form__input {
  font-size: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 1.5625rem;
}

.phone__text-form__submit {
  border-radius: 50%;
  background-color: #3e2753;
  width: 30px;
  height: 100%;
}

.phone__text-form__submit__chevron {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  background-color: white;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-left: 5px;
}

.phone {
  border: 20px solid white;
  border-radius: 50px;
  background-color: #f5f3f7;
}

@media (min-width: 375px) {
  .phone {
    width: 365px;
    min-width: 365px;
  }
}

.main .page-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  text-align: center;
  margin-top: 2.8125rem;
}

@media (min-width: 40em) {
  .main .page-text {
    max-width: 40%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25rem;
    text-align: left;
    margin-top: 2.8125rem;
    margin-left: 6.25rem;
  }
}

.main .page-text__heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #3e2753;
}

.main .page-text__description {
  color: #a39daa;
  line-height: 1.5625rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-inline: 15%;
  }
}
