.main {
    //  Background frames
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        z-index: -2;
        // Border -> Shape
        border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
        // Background
        background-image: linear-gradient(45deg, $light-violet, $light-magenta);
        // Sizing
        width: 500px;
        height: 50%;
        // Positioning
        top: 0;
        left: calc(-300px);
        @include breakpoint(medium) {
            left: -10%;
        }
    }
    &::after {
        position: absolute;
        content: "";
        z-index: -2;
        // Border -> Shape
        border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
        // Background
        background-color: $grayish-blue;
        // Sizing
        width: 500px;
        height: 50%;
        // Positioning
        bottom: 0;
        right: calc(-300px);
        @include breakpoint(medium) {
            right: -10%;
        }
    }
}