.main {
    // Background
    background-color: $white;
    // Display
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
    // Child Elements
    .phone {
        // Section
    }
}