.phone {
    &__chat-section {
        // Positioning
        margin-top: rem(20);
        // FOnt Settings
        font-size: 0.7rem;
        // Display
        display: flex;
        flex-direction: column;
        gap: rem(20);
        &__left {
            &__text {
                // Border
                border-radius: 15px;
                border-bottom-left-radius: 5px;
                // Positioning
                margin-left: rem(10);
                padding: rem(10);
                // Background
                background-color: $grayish-blue;
                // Font Settings
                color: $moderate-violet;
                // SIzing
                max-width: 60%;
            }
            &__price {
                // Border
                border-radius: 15px;
                border-bottom-left-radius: 5px;
                // Positioning
                margin-left: rem(10);
                padding: rem(10);
                // SIzing
                max-width: 75%;
                // Background
                background-image: linear-gradient(to right, $light-magenta, $light-violet);
                &__ring {
                    // Hiding the default radio btn
                    opacity: 0;
                    position: absolute;
                }
                &__label {
                    // Dispaly
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__text {
                        // Font Settings
                        color: $pale-violet;
                        font-size: 1rem;
                    }
                    &__cash {
                        // Font Settings
                        color: white;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    // Hovering Effect
                    &:hover {
                        cursor: pointer;
                    }
                }
                &__label::before {
                    content: "";
                    // Border 
                    border-radius: 50%;
                    border: 2px solid $very-light-magenta;
                    // SIzing
                    width: 20px;
                    height: 20px;
                    // Positioning
                    margin-left: 5%;
                }
                &__ring:checked~&__label::before {
                    // Background
                    background-color: $very-light-magenta;
                }
            }
        }
        &__right {
            align-self: flex-end;
            &__text {
                // Border
                border-radius: 15px;
                border-bottom-right-radius: 5px;
                // Positioning
                margin-right: rem(10);
                align-self: flex-end;
                padding: rem(10);
                padding-left: rem(20);
                // BAckground
                background-color: white;
                box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
                // SIzing
                max-width: 60%;
            }
            &__image-holder {
                // Positioning
                margin-right: rem(10);
                align-self: flex-end;
                // DIsplay
                display: flex;
                justify-content: flex-end;
                gap: rem(10);
                &__image {
                    // Display
                    display: block;
                    // Border
                    border-radius: 20px;
                    width: rem(70);
                    height: rem(70);
                }
            }
        }
    }
}