@import './leading-bar';
@import './chat-section';
@import './input-section';
.phone {
    // Border
    border: 20px solid white;
    // Border
    border-radius: 50px;
    // Background
    background-color: $light-grayish-violet;
    // Sizing
    width: 95%;
    @include breakpoint(small) {
        width: 400px;
    }
}